<div class="slider">
    <ng-container *ngIf="items">
        <ng-container *ngFor="let item of items; let i = index">
            <div *ngIf="currentSlider == i" class="slide" @slideFade>
                <img [src]="'https://image.tmdb.org/t/p/w780/' + item.backdrop_path" alt="">
                <div class="information">
                    
                    <span class="title">{{ item.title}}</span>
                    <span class="overview">{{ item.overview}}</span>
                </div>
                
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="tvShows">
        <ng-container *ngFor="let item of tvShows; let i = index">
            <div *ngIf="currentSlider == i" class="slide" @slideFade>
                <img [src]="'https://image.tmdb.org/t/p/w780/' + item.backdrop_path" alt="">
                <div class="information">
                    <span class="title">{{ item.name}}</span>
                    <span class="overview">{{ item.overview}}</span>
                </div>
                
            </div>
        </ng-container>
    </ng-container>
</div>