nav{ 
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px;
    background: #000;
    ul{
        display: flex;
        column-gap: 20px;
        font-size: 20px;

        a{
            color: white;

        }
    }
}