
<div class="container">
    <h1>{{title}}</h1>
    <div  class="grid" >
   
        <ng-container *ngIf="movies">
            <div class="col-12 xl:col-2 lg:col-3 md:col-4" *ngFor="let movie of movies">
                <app-item [movie]="movie"></app-item>
        
            </div>
        </ng-container>
    
        <ng-container *ngIf="tvShows">
            <div class="col-12 xl:col-2 lg:col-3 md:col-4" *ngFor="let tvShow of tvShows">
                <app-item [tvShow]="tvShow"></app-item>
        
            </div>
        </ng-container>
    
    
    </div>
</div>